*{
padding: 0;
box-sizing: border-box;
margin: 0;
}
.body{
   
}
.box{ 
    border: solid black 3px;
    margin-top: 20px;
    width: 350px;
    height: 500px;
    border-radius: 30px;
    margin-left: 39%;
    background-color: aqua;
}
#display{
    text-align: right;
    padding-right: 10%;
    padding-top: 9%;
    background-color: rgb(243, 240, 255);
    border-radius: 50px;
    
}
.row{
display: flex;
justify-content: space-between;
margin-top: 20px;
padding: 10px;
}
.btn{  
    width: 50px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;

}
.btn:hover{
    background-color: rgb(0, 204, 255);
    box-shadow: 0px,0px,5px rgb(63, 11, 131),0px,0px,250px rgb(80, 77, 119);
}