.space{
    margin-top: 50px;
    border-radius:120px;
   display: flex;
   justify-content: space-between ;
   margin-left: 300px;
  margin-right: 200px;
 height: 60px;
}
.modal{
    border-radius: 10px;
    cursor: pointer;
}
.hidden{
    display: none;
}
.para{
    margin-left:70px ;
   border: solid black 2px;
    height: 370px;
    width: 500px;
}